.parallax{
    margin: auto;
    position: relative;
}

.parallax .parallax-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    top: 0;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.infoPai{
    display: flex;
    flex-direction: row;
    background: rgba(19, 18, 18, 0.4);    
    margin-bottom: 100px;
    padding: 50px;
    box-sizing: border-box;
    
}

.infoPai .cover{
    width: 300px;
    height: 360px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective:1200px;
}

.infoPai img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateY(25deg);
    transform-origin: left;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6), -8px 0 15px rgba(0,0,0,0.4);
}

.infoPai img:hover{
    transform: rotateY(5deg) scale(1.05);
    transition: transform 0.2s ease;
    filter: brightness(1.1);
}

.infoPai .infos{
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
}

.infoPai .infos main, .imdb{
    display: flex;
    color: white;
    font-family: "Liter", "sans-serif";
}

.infoPai .infos .imdb{
    border: 5px  solid green;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: x-large;
}


.infoPai .infos main .desc{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;

}

.infoPai .infos main .desc p{
    word-wrap: break-word;
    
}

.infoPai .infos main .desc .titulo{
    font-family: "Liter", sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.infoPai .infos main .desc .plataformas{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.infoPai .infos main .desc .dev-pub, .plataformas{
    color: white;
}

/* CONTAINER PRINCIPAL */
.recomendados {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: fit-content;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(19, 18, 18, 0.4);    
    padding: 12px;

}

/* TÍTULO */
.recomendados h4{
    height: fit-content;
    display: flex;
    align-self: flex-start;
    font-size: x-large ;
    font-family: "Liter", "sans-serif";
    color: white;
    font-weight: bold;
}

/* CARROSSEL */
.recomendados .carrossel{
    position: relative; /* referência para os botões */
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.recomendados .carrossel::-webkit-scrollbar{
    display: none;
}

/* CONTAINER DOS CARDS */
.recomendados .carrossel .recomendacoes {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: 85%;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 12px;
    scrollbar-width: none;
}

.recomendados .carrossel .recomendacoes::-webkit-scrollbar{
    display: none;
}

/* CARDS */
.recomendados .carrossel .recomendacoes > * {
    flex: 0 0 300px;
}

/* BOTÕES */
.recomendados .carrossel button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 0.2s ease;


    width: 45px;
    height: 45px;

    border-radius: 50%;
    border: none;

    background: rgba(0,0,0,0.6);
    color: white;

    cursor: pointer;
    font-size: 20px;

}

/* HOVER */
.recomendados .carrossel button:hover{
    background: rgba(0,0,0,0.85);
}

.recomendados .carrossel button:disabled{
    opacity: 0;
    pointer-events: none;
   
}