.parallax{
    margin: auto;
}

/* CONTAINER PRINCIPAL */
.recomendados {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: fit-content;
    align-items: center;
}

/* TÍTULO */
.recomendados h4{
    height: fit-content;
    display: flex;
    align-self: flex-start;
}

/* CARROSSEL */
.recomendados .carrossel{
    position: relative; /* referência para os botões */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    max-width: 90%;
    width: 100%;

    overflow: hidden;
}

.recomendados .carrossel::-webkit-scrollbar{
    display: none;
}

/* CONTAINER DOS CARDS */
.recomendados .carrossel .recomendacoes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;

    overflow-x: auto;
    scroll-behavior: smooth;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.recomendados .carrossel .recomendacoes::-webkit-scrollbar{
    display: none;
}

/* CARDS */
.recomendados .carrossel .recomendacoes > * {
    flex: 0 0 300px;
}

/* BOTÕES */
.recomendados .carrossel button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;


    width: 45px;
    height: 45px;

    border-radius: 50%;
    border: none;

    background: rgba(0,0,0,0.6);
    color: white;

    cursor: pointer;
    font-size: 20px;

}

/* HOVER */
.recomendados .carrossel button:hover{
    background: rgba(0,0,0,0.85);
}
