.parallax{
margin: auto;
}


/* 1. O container que limita a largura (ajuste para o tamanho que quiser) */
.recomendados {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 300px;
    align-items: center;
}

.carrossel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 90%;
    overflow-x: auto;
}

.carrossel::-webkit-scrollbar{
    display: none;
}

    

/* 2. O container do scroll (onde a mágica acontece) */
.carrossel .recomendacoes {
    display: flex !important; /* Força o flexbox */
    flex-direction: row;
    flex-wrap: nowrap !important; /* PROÍBE quebrar linha */
    justify-content: center;
    overflow-x: auto; /* Habilita o scroll horizontal */
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */

    
}

h4{
    height: fit-content;
    display: flex;
    align-self: start;
}

/* 3. OS FILHOS (Os componentes <Recomendado />) */
/* Usamos o seletor "> *" para pegar qualquer coisa que estiver lá dentro */
.carrossel .recomendacoes > * {
    gap: 20px;
    width: 100%;
    flex: 0 0 250px;
}
