body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-recomendado{
    background-color: black;
    width: 100%;
    height: 220px;
    margin: 0;
    box-shadow: 0 0 5px 4px rgb(73, 72, 72);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    
}

.cards-recomendado .imagem-jogo-recomendado{
    padding: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    
}

.cards-recomendado .imagem-jogo-recomendado img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}

.cards-recomendado .imagem-jogo-recomendado::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* 0.5 é a transparência. Se quiser 100% preto, use 1 */
}

.cards-recomendado:hover{
    transform: translateY(-8px);
    transition: transform 0.3s ease;
    box-shadow: 0 0 5px 4px rgb(153, 151, 151);;
    filter: brightness(1.2);
}

.cards-recomendado .info-jogo-recomendado {
    padding: 0 12px 12px 12px;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 0;
    color: aliceblue;
}

.cards-recomendado .info-jogo-recomendado h2{
    margin: 0;
    font-family: "Changa One", "sans-serif";
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px 5px rgb(105, 103, 105);
}

h3{
    font-family: "Smooch Sans", "sans-serif";
    font-weight: 400;
    font-size: 20px;
}

hr{
    height: 0.5px;
    border: none;
    background-color: black;
    margin: 0;
}

