body{
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, rgb(24, 23, 23), rgb(80, 78, 78), rgb(121, 117, 117) );
}

.resultadoPesquisa {
    color: white;
    margin-left: 30px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-bottom: 16px;
}

.buttons button{
    background-color: #494848;
    border: none;
    border-radius: 50%;
    color: white;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.buttons button:hover{
    background-color: #272626;;
}
